@charset "utf-8";


/* initialize */

body {
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
	color: #333;
	font-family: "ヒラギノ角ゴ Pro W6", Hiragino Kaku Gothic Pro, Osaka, "ＭＳ Ｐゴシック", sans-serif;
	.aaa {
		color: #0066cb;
		text-decoration: none;
		-webkit-tap-highlight-color: rgba(102, 204, 255, 0.5);
	}
}

h1 {
    font-size: 12px;
}

a {
	color: #0066cb;
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(102, 204, 255, 0.5);
}
.errorText {
	margin: 10px;
	padding: 5px;
	border: 1px solid #dc0000;
	color: #dc0000;
	font-size: 13px;
	font-weight: bold;
}

.block { /* block */
    color: #fff;
    width: 100%;
    &__element1 { /* element */
        width: 30px;
　      &_modifier1 { /* modifier */
            background-color: #ccc;
        }
        &_modifier2 { /* modifier */
            background-color: #111;
            &_modifier3 { /* modifier */
                color: #ddd;
            }
            &_modifier4 { /* modifier */
                color: #ccc;
            }
        }
    }
    &__element2 { /* element */
        width: 60px;
    }
}

